<section class="artist">
  <ul class="artist-list">
    {{#each model._embedded.artists as |artist|}}
      <li class="artist-list-item">
        <p class="artist">{{artist.name}}</p>
        <img src="{{artist._links.thumbnail.href}}" alt="" />
      </li>
    {{/each}}
  </ul>
</section>
