<section class="artwork">
  <div class="artwork-list">
    {{#each model._embedded.artworks as |artwork|}}
      {{artwork-items artwork=artwork like='like' unlike='unlike'}}
    {{/each}}
  </div>
</section>
