<section class="sculpture">
  <ul class="sculpture-list">
    {{#each model._embedded.artworks as |artwork|}}
      {{artwork-painting-item artwork=artwork like='like' unlike='unlike'}}
    {{/each}}
  </ul>
</section>
