<section class="paintings">
  <ul class="paintings-list">
    {{#each model._embedded.artworks as |artwork|}}
      {{artwork-painting-item artwork=artwork like='like' unlike='unlike'}}
    {{/each}}
  </ul>
</section>
