<div class="gallery-contact">
  <div class="gallery-address">
    <h3>Carolina Galleries</h3>
    <p>123 King Street</p>
    <p>Charleston, SC 29401</p>
    <p>(803) 555-5555</p>
  <div class="gallery-hours">
    {{log isOpen}}
    {{#if isOpen}}
      <h3>Our doors are open. Stop by now!</h3>
      {{else}}
      <h3>Sorry, we're closed right now.</h3>
    {{/if}}
    <h4>Hours:</h4>
    <p>Wednesday-Saturday, 8 A.M. - 7:00 P.M.</p>
  </div>
  </div>
 <div class="map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6708.20190269377!2d-79.93337763645623!3d32.78958242916753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x94c99e40dce8a91a!2sThe+Charleston+Museum!5e0!3m2!1sen!2sus!4v1436298785435" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div>
</div>
