<form class="login-form session">
  <h1>Log in to Carolina Galleries</h1>
  {{input placeholder="E-mail" type="email" value=identification}}
  {{input placeholder="Password" type="password" value=password}}
  <p class="login" {{action 'authenticate'}}>Log In</p>
</form>
