<h1>Liked Images</h1>
{{#link-to 'users.gallery.index'}}
<h1>Your Gallery</h1>
{{/link-to}}
<ul class="user-gallery-list">
{{#each session.currentUser._data.Artwork as |artwork|}}
  <li class="user-gallery-item">
    <button type="button" name="button" {{action 'unlike' artwork}}>Unlike</button>
    {{#link-to 'artwork.show' artwork}}
    <img class="user-gallery-thumbnail" src="{{artwork._links.thumbnail.href}}"/>
    <p class="user-gallery-title">{{artwork.title}}</p>
    {{/link-to}}
  </li>
{{/each}}
</ul>
