
<form class="user-gallery-upload">
  {{input type="text" value=url placeholder="url"}}
  {{input type="text" value=title placeholder="title"}}
  <button {{action 'uploadImage'}}>Upload</button>
</form>
