{{#link-to 'users.current'}}
  <h1>Liked Images</h1>
{{/link-to}}
<h1>User Gallery</h1>

{{users-gallery-create model=model uploadImage='uploadImage' show='show' cancel='cancel'}}
{{users-gallery model=model}}
{{outlet}}
