{{#link-to 'users.current'}}
  <h1>Your Liked Images</h1>
{{/link-to}}
<h1>Community Gallery</h1>

{{users-gallery-create model=model uploadImage='uploadImage' show='show' cancel='cancel'}}
{{users-gallery model=model artwork=artwork delete='delete'}}
{{outlet}}
