/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  h1, h2, h3, h4, p, a{
    line-height: 24px;
  }
  .artwork{
    max-width: 300px;
    margin: 0 auto;
  }

  .artwork-list-item{
    max-width: 280px;
  }

  p.artwork-title{
    font-size: 20px;
    line-height: 24px;
  }

  .artwork-show{
    max-width: 300px;
    margin: 25px auto;
    text-align: center;
  }

  .artwork-show>img{
    max-width: 80%;
    border: 5px solid white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }

  .artwork-show-title{
    margin: 0 auto;
    display: block;
    width: 300px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  .artwork-show-date{
    display: block;
    font-size: 18px;
    line-height: 24px;
  }

////////community gallery////////
  .gallery{
    max-width: 300px;
    margin: 0 auto;
  }

  form.user-gallery-upload{
    display: block;
    width: 300px;
    height: 400px;
    padding: 20px;
  }

  form.user-gallery-upload>input{
    width: 300px;
  }

  .gallery-edit{
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .gallery-edit-button{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
  }

  .add-gallery{
    display: block;
    padding: 29px 0 11px 23px;
  }
}
