/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .gallery-contact{
    max-width: 300px;
    margin: 0px auto;
  }

  .gallery-address{
    display: block;
    max-width: 300px;
    margin: 20px 0;
    padding: 0;
  }

  .gallery-address>h3{
    display: block;
    font-size: 24px;
    font-weight: 500;
  }

  .gallery-address>p{
    display: block;
    font-size: 18px;
    line-height: 25px;
  }

  .map{
    max-width: 300px;
  }

}
