@media (min-width : 320px) and (max-width : 480px){

  .landing-hero{
    display: block;
    top: 75px;
  }

  .landing-headline{
    top: -84px;
  }

  .landing-explore{
    display: none;
  }

  .landing-explore:active{
    background-color: $light-gray;
  }
///Explore section (cards at bottom of index)///
  .explore{
    max-width: 300px;
    margin: 0 auto;
  }

  .explore>img{
    max-width: 100%;
  }

  h2{
    padding-bottom: 30px;
  }

  .explore-list-item{
    width: 280px;
    vertical-align: top;
    text-align: center;
    margin: 10px;
    background-color: $light-gray;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 5px;
  }

  .explore-caption{
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 260px;
  }

  .explore-title{
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    width: 260px;

  }

  .explore-copy{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width : 480px)
and (max-width : 1000px) {
  .landing-headline{
    top: -185px;
  }

  .landing-explore{
    top: -170px;
    width: 85px;
  }

  .landing-explore:focus{
    background-color: rgba(255,255,255,0.7);
    transition: 0.3s;
  }

  .explore{
    max-width: 650px;
    margin: -15px auto 0 auto;
  }

  h2{
    padding-bottom: 20px;
  }

  .explore-list{
    margin: 0;
  }

  .explore-list-item{
    display: inline-block;
    width: 650px;
    vertical-align: top;
    margin-right: 0;
    background-color: $light-gray;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 5px;
    margin: 10px;
  }

  img.explore-thumbnail{
    max-width: 25%;
  }

  .explore-caption{
    display: inline-block;
    width: 430px;
    height: 90px;
    padding: 33px 10px 0 20px;
    text-align: left;
    vertical-align: top;
  }

  .explore-title{
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }

  .explore-copy{
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }
}
