<section class="main-heading">
  <div class="main-logo">
    <img src="#" alt="Carolina Galleries" />
  </div>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-item"><a href="#">Artists</a></li>
      <li class="main-nav-item"><a href="#">Artwork</a></li>
      <li class="main-nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
  {{#link-to 'sessions.create'}}<button>Log In / Sign Up</button>{{/link-to}}

</section>


{{outlet}}
{{outlet 'modal'}}
