<section class="main-heading">
  <div class="main-logo">
    {{#link-to 'index'}}<img src="#" alt="Carolina Galleries" />{{/link-to}}
  </div>
  <nav class="main-nav">
    <ul class="main-nav-list">
      {{#link-to 'artists.index'}}<li class="main-nav-item">Artists</li>{{/link-to}}
      {{#link-to 'artwork.index'}}<li class="main-nav-item">Artwork</li>{{/link-to}}
      <li class="main-nav-item">Contact</li>
    </ul>
  </nav>
  {{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    {{#link-to 'sessions.create'}}<button>Login</button>{{/link-to}}
  {{/if}}

</section>


{{outlet}}
