<section class="main-heading">
  <div class="main-logo">
    <img src="#" alt="Carolina Galleries" />
  </div>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="main-nav-item"><a href="#">Artists</a></li>
      <li class="main-nav-item"><a href="#">Artwork</a></li>
      <li class="main-nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
  {{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    {{#link-to 'sessions.create'}}<button>Login</button>{{/link-to}}
  {{/if}}

</section>


{{outlet}}
