{{log model._embedded.artworks}}

<section class="landing-hero">
  <img src="/background.jpg" alt="" />
  <h2>Carolina Galleries is Charleston's premier destination for fine art.</h2>
  <button type="button" name="button">Expore</button>
</section>

<section class="explore">
  <ul class="explore-list">

    <li class="explore-list-item">
      {{#link-to 'artwork.index'}}
      <img src="/images/water-lillies.jpg" class="explore-thumbnail"/>
      <p class="explore-link">Explore Artwork</p>
      {{/link-to}}
    </li>

    <li class="explore-list-item">
      {{#link-to 'artwork.painting'}}
      <img src="/images/water-lillies.jpg" class="explore-thumbnail"/>
      <p class="explore-link">Explore Paintings</p>
      {{/link-to}}
    </li>

    <li class="explore-list-item">
      {{#link-to 'artwork.sculpture'}}
      <img src="/images/colbert.jpg" class="explore-thumbnail"/>
      <p class="explore-link">Explore Sculpture</p>
      {{/link-to}}
    </li>

    <li class="explore-list-item">
      {{#link-to 'artists.index'}}
      <img src="/images/picasso.jpg" class="explore-thumbnail"/>
      <p class="explore-link">Explore Artists</p>
      {{/link-to}}
    </li>

  </ul>
</section>
{{outlet}}
