<section class="landing-hero">
  <img src="/background.jpg" alt="" />
  <h2>Carolina Galleries is Charleston's premier destination for fine art.</h2>
  <button type="button" name="button">Expore</button>
</section>

<section class="explore">
  <ul class="explore-list">
    <li class="explore-list-item">
      <img src="http://placebear.com/g/200/200" class="thumbnail"/>
      <p class="artist">Andy Warhol</p>
      <p class="artwork">Orange Disaster</p>
    </li>
    <li class="explore-list-item">
      <img src="http://placebear.com/g/200/200" class="thumbnail"/>
      <p class="artist">Andy Warhol</p>
      <p class="artwork">Orange Disaster</p>
    </li>
    <li class="explore-list-item">
      <img src="http://placebear.com/g/200/200" class="thumbnail"/>
      <p class="artist">Andy Warhol</p>
      <p class="artwork">Orange Disaster</p>
    </li>
    <li class="explore-list-item">
      <img src="http://placebear.com/g/200/200" class="thumbnail"/>
      <p class="artist">Andy Warhol</p>
      <p class="artwork">Orange Disaster</p>
    </li>
  </ul>
</section>
{{outlet}}
